header {
    height: 70px !important;
    background-color: #a1d6fc;

}

main {
    height: 100%;
    overflow-y: auto;
}

.logo-css {
    height: 50px;
    margin-left: 30px
}

.div-fun {
    margin-right: 30px
}

.icon-fun {
    font-size: 30px;
    color: #0f3b99;
}

.icon-circle {
    font-size: 16px;
}

.icon-circle-footer {
    font-size: 16px;
    color: #00992d;
}

.icon-dv {
    font-size: 36pt;
    background: -webkit-linear-gradient(310deg, rgb(33, 82, 255), rgb(33, 212, 253));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icon_warning:before {
    content: url("../image/warnning.png");
}

.icon_error:before {
    content: url("../image/error.png");
}

.icon_diswarning:before {
    content: url("../image/dis_warnning.png");
}

.icon_diserror:before {
    content: url("../image/dis_error.png");
}

nav {
    height: 50px !important;
    background-color: #0f3b99;
}


.nav-div {
    justify-content: center;
    width: 13%;
}

.nav-div:hover,
:active {
    background-color: #4165af;
}

.nav-div-dashboard {
    margin-left: 30px;
    justify-content: center;
    background-color: white;
    width: 13%;
}

.nav-div-dashboard:hover,
:active {
    background-color: #4165af;
}

.nav-div-dashboard-2 {
    margin-left: 30px;
    justify-content: center;
    width: 13%;
}

.nav-div-dashboard-2:hover,
:active {
    background-color: #4165af;
}

.nav-div-show {

    background-color: white;
    width: 13%;
}

.nav-div-show:hover,
:active {
    background-color: #4165af;
}


.nav-text {
    align-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 16pt;
    font-family: arial;
}

.nav-text:hover,
:active,
:focus {
    background-color: #4165af;
    color: white;
    box-shadow: none;
}

.nav-text-show {
    align-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    color: #0f3b99;
    font-size: 16pt;
    font-family: arial;
}

.nav-text-show:hover,
:active,
:focus {
    background-color: #4165af;
    color: white;
    box-shadow: none;
}


.text-1 {
    text-align: center;
    color: #0f3b99;
    margin: 8px 0 12px 0;
}

main {
    background-color: white;
}

.main-title-1 {
    background-color: #a1d6fc;
    height: 30px;
    padding: 10px;
    border-radius: 15px 15px 0 0
}

.main-title-2 {
    background-color: #d2ebff;
    height: 30px;
    padding: 10px;
    border-radius: 15px 15px 0 0
}

.main-div {
    border-radius: 0 0 15px 15px;
    border: 1px solid #cccccc;
}


.main-div-f {
    border: 1px solid #cccccc;
}

.main-title-text {
    font-size: 12pt;
    font-family: arial;
    color: #062a74;
}

.input-color-1 {
    background-color: #a1d6fc !important;
}

.input-color-2 {
    background-color: #d2ebff !important;
}


.height-100 {
    height: 100%;
}


.spam-dv {
    font-size: 40pt;
    font-family: arial;
    color: black;
}

.donvi-scroll {
    overflow-y: auto;
    height: 80%;
}

/* .div-chart-doughnut{
    width: 250px;
} */



/* .donvi-scroll::-webkit-scrollbar {
    width: 10px;
} */

/* .donvi-scroll::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}

.donvi-scroll::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    border-radius: 100px;
}

.donvi-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #0f3b99;
    border-radius: 100px;
} */

.dvsd-scroll {
    height: 100px;
    overflow-y: auto;
}


.user-scroll {
    height: 210px;
    overflow-y: auto;
    overflow-x: hidden;
}



.kh-scroll {
    height: 715px;
    overflow-y: auto;
}


tbody tr td {
    text-align: center;
    padding: 10px 10px;
}

.name-td {
    text-align: left;
}

.verticaltext {
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    text-align: center;
}

footer {
    background: #f3f4f7;
    justify-content: flex-end;
    height: 50px;
}


.button {
    background-color: #007BFF !important;
    color: white !important;
    height: 30px;
    width: 100px;
    border-radius: 10px;
}

.button:hover {
    background-color: #0F3B99 !important;
    color: white;
    border: none !important;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .25) !important;
}

.button:active {
    background-color: #007bff !important;
    color: white;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .25) !important;
}


.button-day {
    border: 1px solid #cccccc;
    border-radius: 10px 0 0 10px;
    height: 40px;
    width: 33%;
    color: black;
}


.button-month {
    border: 1px solid #cccccc;
    height: 40px;
    width: 33%;
    color: black;
}

.button-year {
    border: 1px solid #cccccc;
    height: 40px;
    width: 33%;
    border-radius: 0 10px 10px 0;
    color: black;
}


.div-button {
    justify-content: flex-end;
}

.select-detail {
    /* width: 80%; */
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    background-color: white;
    padding-right: 25px;
}

input,
textarea {
    color: #000;
}

input:focus,
textarea:focus {
    background-color: white;
    color: #000;
}

.input-time {
    padding-left: 10px;
}

tbody {
    font-size: 10pt;
    font-family: Arial;
}

label,
input,
a,
p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.color-blue {
    background-image: linear-gradient(310deg, rgb(33, 82, 255), rgb(33, 212, 253));
}

.color-green {
    background-image: linear-gradient(310deg, rgb(23, 173, 55), rgb(152, 236, 45));
}

.color-orgin {
    background-image: linear-gradient(310deg, rgb(245, 57, 57), rgb(251, 207, 51));
}

.color-tim {
    background-image: linear-gradient(310deg, rgb(121, 40, 202), rgb(255, 0, 128));
}

.color-success {
    background: -webkit-linear-gradient(310deg, #007BFF, #A1D6FC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.btn-default {
    height: 30px !important;
    border-radius: 10px !important;
    border: 1px solid #cccccc !important;
    background-color: white !important;
}

/* Basic styling */


select:focus {
    background-color: white;
    color: #0F3B99;
}

/* select {
    width: fit-content;
} */

option {
    color: #0F3B99;
    background-color: #FFFFFF;
}


a:hover,
:active {
    background-color: transparent !important;
    box-shadow: none;
}

.select-div {
    justify-items: flex-start
}

.select-detail:hover,
:active {
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .25) !important;
}

.width-95 {
    width: 95%;
    align-content: start;
}

.div_status {
    justify-items: center;
    /*  */
}

.div-hd {
    width: 60%;
}

.btn-group-vertical>.btn,
.btn-group>.btn {
    position: relative;
    flex: 1 1 auto;
    padding: 2px 5px 0px 5px;
}



.span-info {
    font-size: 12pt;
    font-family: arial;
    color: black;
    margin-right: 5px;
    width: fit-content;
}

.icon-info {
    font-size: 30px;
    background: -webkit-linear-gradient(310deg, rgb(33, 82, 255), rgb(33, 212, 253));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.icon-delete {
    background: red;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icon-add {
    font-size: 18px;
    /* color:#007bff; */
    margin-right: 10px;
}

.btn-add {
    height: 30px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    color: #0F3B99;
}

.btn-add:hover,
:active {
    background-color: #007bff !important;
    color: white !important;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .25) !important;
}

.btn-add:focus {
    background-color: white;
}

.stt_deactive {
    background-color: #e6e6e6;
    color: rgb(0, 0, 0, 0.3);
    height: 30px;
    border-radius: 10px;
    width: 140px;
    text-align: center;
    margin-left: 5px;
    padding-top: 3px;
}

.stt_active {
    background-color: #48af2c;
    color: white;
    height: 30px;
    border-radius: 10px;
    width: 140px;
    text-align: center;
    margin-left: 5px;
    padding-top: 3px;
}

.btn-act {
    border: 1px solid #0F3B99;
    height: 30px;
    border: 1px solid #0F3B99;
    border-radius: 10px;
    background-color: rgb(161, 214, 252, 0.4);
    padding: 0px 5px 0px 5px;
}

.btn-act:hover {
    /* border: none;
    background-color: #A1D6FC ; */
    background-color: #007bff;
    padding: 0px 5px 0px 5px;
    border: none;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
    color: white;
}

.btn-act:active {
    box-shadow: inset 0px 5px 10px 0px rgba(4, 41, 97, 0.25);
    background-color: #007bff;
    color: white;
}

.btn-act:focus {
    border: 1px solid #0F3B99;
    background-color: rgb(161, 214, 252, 0.4);
    color: #0F3B99;
}

.btn-deact {
    height: 30px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    padding: 0px 5px 0px 5px;
    color: #0F3B99;
}

.btn-deact:hover {
    /* border: none;
    background-color: #A1D6FC ; */
    background-color: #007bff;
    padding: 0px 5px 0px 5px;
    border: none;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
    color: white;
}

.btn-deact:active {
    box-shadow: inset 0px 5px 10px 0px rgba(4, 41, 97, 0.25);
    background-color: #007bff;
    color: white;
}

.btn-deact:focus {
    border: 1px solid #0F3B99;
    color: #0F3B99;
    background-color: white;
}

.div-act {
    background-color: rgb(161, 214, 252, 0.4);
    /* border: 2px solid #0F3B99; */
}

.div-act:hover {
    box-shadow: inset 0px 5px 10px 0px rgba(4, 41, 97, 0.25);
    background-color: rgb(161, 214, 252, 0.3);
}

.div-act:active {
    box-shadow: inset 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
    background-color: rgb(161, 214, 252, 0.3)
}

.div-deact:hover {
    box-shadow: inset 0px 5px 10px 0px rgba(4, 41, 97, 0.25);
    background-color: rgb(161, 214, 252, 0.3);
}

.div-deact:active {
    box-shadow: inset 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
    background-color: rgb(161, 214, 252, 0.3)
}

.tabtime .tablinks:hover {
    background-color: rgb(161, 214, 252, 0.5);
}


.tabtime .tablinks.active {
    background-color: #007bff;
    color: white;
    border: none;
}

.tab {
    height: 30px;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #EDF7FE;
}

/* Style the buttons that are used to open the tab content */
.tab .tablinks {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 2px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab .tablinks:hover {
    background-color: rgb(161, 214, 252, 0.5);
}

/* tablinks an active/current tablink class */
.tab .tablinks.active {
    background-color: #A1D6FC;
    color: #000;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.toggle {
    display: inline-block !important;
    height: 30px;
    position: relative;
    width: 80px;
}

.toggle input[type="checkbox"] {
    display: none;
}

.toggle .slider {
    background-color: #ccc;
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition: .4s;
    position: relative;
    border-radius: 50px;
}

.toggle .slider:before {
    background-color: #fff;
    bottom: 3px;
    content: "";
    height: 24px;
    left: 3px;
    position: absolute;
    transition: .4s;
    width: 24px;
    border-radius: 50px;
}

.toggle input[type="checkbox"]:checked+.slider {
    background-color: #007bff;
}

.toggle input[type="checkbox"]:checked+.slider:before {
    transform: translateX(50px);
}

.btn-Save {
    width: 100px;
    border-radius: 10px;
    height: 30px;
    background-color: #007bff !important;
    color: white !important;
}

.btn-Save:hover {
    background-color: #0f3b99 !important;
    color: white !important;
}

.btn-X {
    width: 100px;
    border-radius: 10px;
    height: 30px;
    background-color: #c94f5f !important;
    color: white;
}

.btn-X:hover {
    background-color: #ec2020 !important;
    color: white !important;
}

.custom-model-main {
    text-align: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* z-index: 1050; */
    -webkit-overflow-scrolling: touch;
    outline: 0;
    opacity: 0;
    -webkit-transition: opacity 0.15s linear, z-index 0.15;
    -o-transition: opacity 0.15s linear, z-index 0.15;
    transition: opacity 0.15s linear, z-index 0.15;
    z-index: -1;
    overflow-x: hidden;
    overflow-y: auto;
}

.model-open {
    z-index: 99999;
    opacity: 1;
    overflow: hidden;
}

/* popup dv */
.custom-model-inner {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    display: inline-block;
    vertical-align: middle;
    width: 52%;
    margin: 30px auto;
    max-width: 97%;
}

.custom-model-wrap {
    min-height: 330px;
    display: block;
    width: 100%;
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: 0;
    text-align: left;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-height: calc(100vh - 70px);
    overflow-y: auto;
}

.model-open .custom-model-inner {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    position: relative;
    z-index: 999;
}

.model-open .bg-overlay {
    background: rgba(0, 0, 0, 0.6);
    z-index: 99;
}

.bg-overlay {
    background: rgba(0, 0, 0, 0);
    height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-transition: background 0.15s linear;
    -o-transition: background 0.15s linear;
    transition: background 0.15s linear;
}

.close-btn {
    position: absolute;
    right: 6px;
    top: -10px;
    cursor: pointer;
    z-index: 99;
    font-size: 30px;
    color: black;
}


.tabadd {
    height: 30px;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #EDF7FE;
}

/* Style the buttons that are used to open the tab content */
.tabadd .tabAddlinks {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 2px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tabadd .tabAddlinks:hover {
    background-color: rgb(161, 214, 252, 0.5);
}

/* tablinks an active/current tablink class */
.tabadd .tabAddlinks.active {
    background-color: #A1D6FC;
    color: #000;
}

/* Style the tab content */
.tabaddcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/* pop up user */

.custom-model-main-user {
    text-align: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* z-index: 1050; */
    -webkit-overflow-scrolling: touch;
    outline: 0;
    opacity: 0;
    -webkit-transition: opacity 0.15s linear, z-index 0.15;
    -o-transition: opacity 0.15s linear, z-index 0.15;
    transition: opacity 0.15s linear, z-index 0.15;
    z-index: -1;
    overflow-x: hidden;
    overflow-y: auto;
}

.model-open-user {
    z-index: 99999;
    opacity: 1;
    overflow: hidden;
}

.custom-model-inner-user {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    display: inline-block;
    vertical-align: middle;
    width: 52%;
    margin: 30px auto;
    max-width: 97%;
}

.custom-model-wrap-user {
    display: block;
    width: 100%;
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: 0;
    text-align: left;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-height: calc(100vh - 70px);
    overflow-y: auto;
}

.model-open-user .custom-model-inner-user {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    position: relative;
    z-index: 999;
}

.model-open-user .bg-overlay-user {
    background: rgba(0, 0, 0, 0.6);
    z-index: 99;
}

.bg-overlay-user {
    background: rgba(0, 0, 0, 0);
    height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-transition: background 0.15s linear;
    -o-transition: background 0.15s linear;
    transition: background 0.15s linear;
}

.close-btn-user {
    position: absolute;
    right: 6px;
    top: -10px;
    cursor: pointer;
    z-index: 99;
    font-size: 30px;
    color: black;
}

/* pop up khach hang */
.custom-model-main-kh {
    text-align: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* z-index: 1050; */
    -webkit-overflow-scrolling: touch;
    outline: 0;
    opacity: 0;
    -webkit-transition: opacity 0.15s linear, z-index 0.15;
    -o-transition: opacity 0.15s linear, z-index 0.15;
    transition: opacity 0.15s linear, z-index 0.15;
    z-index: -1;
    overflow-x: hidden;
    overflow-y: auto;
}

.model-open-kh {
    z-index: 99999;
    opacity: 1;
    overflow: hidden;
}

.custom-model-inner-kh {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    display: inline-block;
    vertical-align: middle;
    width: 52%;
    margin: 30px auto;
    max-width: 97%;
}

.custom-model-wrap-kh {
    display: block;
    width: 100%;
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: 0;
    text-align: left;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-height: calc(100vh - 70px);
    overflow-y: auto;
}

.model-open-kh .custom-model-inner-kh {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    position: relative;
    z-index: 999;
}

.model-open-kh .bg-overlay-kh {
    background: rgba(0, 0, 0, 0.6);
    z-index: 99;
}

.bg-overlay-kh {
    background: rgba(0, 0, 0, 0);
    height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-transition: background 0.15s linear;
    -o-transition: background 0.15s linear;
    transition: background 0.15s linear;
}

.close-btn-kh {
    position: absolute;
    right: 6px;
    top: -10px;
    cursor: pointer;
    z-index: 99;
    font-size: 30px;
    color: black;
}

.div-btn-fn {
    padding-top: 10px
}

.h-dv {
    height: 70%;
}

/* popup time */
.custom-model-main-time {
    text-align: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* z-index: 1050; */
    -webkit-overflow-scrolling: touch;
    outline: 0;
    opacity: 0;
    -webkit-transition: opacity 0.15s linear, z-index 0.15;
    -o-transition: opacity 0.15s linear, z-index 0.15;
    transition: opacity 0.15s linear, z-index 0.15;
    z-index: -1;
    overflow-x: hidden;
    overflow-y: auto;
}

.model-open-time {
    z-index: 99999;
    opacity: 1;
    overflow: hidden;
}

.custom-model-inner-time {
    justify-items: center;
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    display: inline-block;
    vertical-align: middle;
    width: fit-content;
    margin: 30px auto;
    max-width: 97%;
}

.custom-model-wrap-time {
    display: block;
    width: fit-content;
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: 0;
    text-align: left;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-height: calc(100vh - 70px);
    overflow-y: auto;
}

.model-open-time .custom-model-inner-time {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    position: relative;
    z-index: 999;
}

.model-open-time .bg-overlay-time {
    background: rgba(0, 0, 0, 0.6);
    z-index: 99;
}

.bg-overlay-time {
    background: rgba(0, 0, 0, 0);
    height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-transition: background 0.15s linear;
    -o-transition: background 0.15s linear;
    transition: background 0.15s linear;
}

.close-btn-time {
    position: absolute;
    right: 6px;
    top: -10px;
    cursor: pointer;
    z-index: 99;
    font-size: 30px;
    color: black;
}

a:focus {
    color: #000;
    border: none;
    box-shadow: none;
}

.width-doughnut {
    width: 100%;
}

.div-doughnut1 {
    width: 25%;
}

.div-doughnut2 {
    width: 20%;
}

.text-doughnut {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    pointer-events: none;
}

.text-sum1,
.text-sum2 {
    font-size: 16px;
    color: #555;
}

.text-value1,
.text-value2 {
    font-size: 22px;
    font-weight: bold;
    color: #000;
}

.div-show-status {
    width: fit-content;
    height: fit-content;
}

.width-image {
    width: 120px;
}

.w-kh {
    width: 31%;
}

.w-dv {
    width: 20%;
    height: fit-content;
}

.w-text-dv {
    width: 75%;
}


.select-nav {
    display: none;
}

.select-btn-fun {
    display: none;
}

.option-fun:hover .bell {
    animation: bellRing 0.9s both;
}

@keyframes bellRing {

    0%,
    100% {
        transform-origin: top;
    }

    15% {
        transform: rotateZ(10deg);
    }

    30% {
        transform: rotateZ(-10deg);
    }

    45% {
        transform: rotateZ(5deg);
    }

    60% {
        transform: rotateZ(-5deg);
    }

    75% {
        transform: rotateZ(2deg);
    }
}

.color-login {
    //background-image: url(../image/bg2.png); 
    //background-position: center;
    //background-size: cover; 
background: linear-gradient(135deg, #b3e5fc, #ce93d8);
    /* background-image: linear-gradient(365deg, #8E2DE2, #4A00E0); */
}

.color-tran {
    background-color: rgb(255, 255, 255,0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px)
}

/* login */
.w-login {
    width: 60%;
    border-radius: 1rem;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

@media screen and (min-width:800px) {
    .custom-model-main:before {
        content: "";
        display: inline-block;
        height: auto;
        vertical-align: middle;
        margin-right: -0px;
        height: 100%;
    }

    .custom-model-main-user:before {
        content: "";
        display: inline-block;
        height: auto;
        vertical-align: middle;
        margin-right: -0px;
        height: 100%;
    }

    .custom-model-main-kh:before {
        content: "";
        display: inline-block;
        height: auto;
        vertical-align: middle;
        margin-right: -0px;
        height: 100%;
    }

    .custom-model-main-time:before {
        content: "";
        display: inline-block;
        height: auto;
        vertical-align: middle;
        margin-right: -0px;
        height: 100%;
    }
}

@media screen and (max-width:799px) {
    .custom-model-inner {
        margin-top: 45px;
    }

    .custom-model-inner-user {
        margin-top: 45px;
    }

    .custom-model-inner-kh {
        margin-top: 45px;
    }

    .custom-model-inner-time {
        margin-top: 45px;
    }
}

@media only screen and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {

    .select-nav {
        display: block !important;
        margin-left: 10px;
    }

    .select-fun {
        display: block;
        margin-right: 10px;
    }

    .main-grid {
        display: grid !important;
    }

    nav {
        display: none !important;
    }

    .select-nav .select-btn-nav {
        display: flex;
        font-size: inherit;
        font-weight: 400;
        border-radius: 8px;
        align-items: start;
        cursor: pointer;
        justify-content: space-between;
    }

    .select-nav .options-nav {
        position: absolute;
        display: none;
        overflow-y: auto;
        max-height: 295px;
        padding: 10px;
        background: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        animation-name: fadeInDown;
        -webkit-animation-name: fadeInDown;
        animation-duration: 0.35s;
        animation-fill-mode: both;
        -webkit-animation-duration: 0.35s;
        -webkit-animation-fill-mode: both;
        left: 0;
        top: 60;
    }

    .select-nav .options-nav .option-nav {
        display: flex;
        height: 30px;
        cursor: pointer;
        padding: 0 16px;
        border-radius: 8px;
        align-items: center;
        background: #fff;
        justify-self: start !important;

    }

    .select-nav .options-nav .option-nav i {
        font-size: 25px;
        margin-right: 12px;
    }

    .select-btn-nav i {
        font-size: 25px;
        transition: 0.3s;
    }

    .select-nav.active .select-btn-nav i {
        transform: rotate(-90deg);
    }

    .select-nav.active .options-nav {
        display: block;
        opacity: 0;
        z-index: 10;
        animation-name: fadeInUp;
        -webkit-animation-name: fadeInUp;
        animation-duration: 0.4s;
        animation-fill-mode: both;
        -webkit-animation-duration: 0.4s;
        -webkit-animation-fill-mode: both;
    }

    .nav-text-show {
        text-align: start;
        font-size: inherit;
    }

    .nav-text-show:hover,
    :active,
    :focus {
        box-shadow: none !important;
        background-color: white !important;
        color: #0F3B99 !important;
    }


    @keyframes fadeInUp {
        from {
            transform: translate3d(0, 30px, 0);
        }

        to {
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }
    }

    @keyframes fadeInDown {
        from {
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }

        to {
            transform: translate3d(0, 20px, 0);
            opacity: 0;
        }
    }

    .select-fun .select-btn-fun {
        display: flex;
        font-size: inherit;
        font-weight: 400;
        border-radius: 8px;
        align-items: start;
        cursor: pointer;
        justify-content: space-between;
    }

    .select-fun .div-fun {
        position: absolute;
        display: none;
        overflow-y: auto;
        max-height: 295px;
        padding: 10px;
        background: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        animation-name: fadeInDown;
        -webkit-animation-name: fadeInDown;
        animation-duration: 0.35s;
        animation-fill-mode: both;
        -webkit-animation-duration: 0.35s;
        -webkit-animation-fill-mode: both;
        top: 60;
        right: 0;
        margin: 0;
    }

    .select-btn-fun i {
        font-size: 25px;
        transition: 0.3s;
    }

    .select-fun.active .select-btn-fun i {
        transform: rotate(-90deg);
    }

    .select-fun.active .div-fun {
        display: flex;
        opacity: 0;
        z-index: 10;
        animation-name: fadeInUp;
        -webkit-animation-name: fadeInUp;
        animation-duration: 0.4s;
        animation-fill-mode: both;
        -webkit-animation-duration: 0.4s;
        -webkit-animation-fill-mode: both;
    }

    .logo-css {
        margin: 0;
    }

    .nav-text-show,
    .nav-text,
    p,
    .table-striped>tbody>.group>td,
    thead tr th,
    .form-multi-select-search,
    .form-multi-select-all,
    input,
    textarea,
    label,
    .dataTables_info,
    .btn-default span,
    .pagination>li>a,
    .pagination>li>span,
    .btn-add,
    .btn-act,
    .btn-deact,
    div {
        font-size: inherit !important;
    }

    .div-doughnut1,
    .div-doughnut2 {
        width: 100%;
    }

    .w-kh {
        width: 100%;
    }

    .kh-scroll {
        height: 100%;
    }

    .main-scroll {
        width: 100%;
        overflow-x: auto;
    }

    .div-show-status {
        width: 100%;

    }

    div.dt-buttons {
        margin: 0 !important;
    }

    .dataTables_length {
        padding-bottom: 5px;
    }

    .grid-cols-mobile {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .close-btn,
    .close-btn-user,
    .close-btn-kh,
    .close-btn-time {
        position: absolute;
        right: 4px;
        top: -11px;
        cursor: pointer;
        z-index: 99;
        font-size: 20pt !important;
        color: black;

    }

    .custom-model-inner-kh,
    .custom-model-inner-user,
    .custom-model-inner,
    .custom-model-inner-time {
        width: 100%;
    }

    .datatable-search {
        margin-bottom: 10px;
    }

    div.dt-buttons {
        width: fit-content !important;
    }

    div.dt-paging nav {
        display: block !important;
    }

    .canvas-mobile {
        min-width: 350px;
    }

    .width-doughnut {
        min-width: 300px;
    }

    .user-scroll {
        height: fit-content;
    }

    .toggle {
        width: 60px;
    }

    .toggle .slider:before {
        left: 3px;
    }

    .toggle input[type="checkbox"]:checked+.slider:before {
        transform: translateX(30px);
    }

    select:focus,
    select:active {
        background-color: inherit !important;
    }

}


@media only screen and (max-device-width: 1553px) and (-webkit-min-device-pixel-ratio: 2) {

    .btn-act,
    .btn-deact {
        height: fit-content;
    }
}

@media only screen and (max-device-width: 800px) and (-webkit-min-device-pixel-ratio: 2) {

    /* login */
    .w-login {
        display: grid !important;
        justify-items: center;
        width: 90%;
    }

    .display-img {
        display: none;
    }
}